In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df= pd.read_csv("homeprices2.csv")
df

   AREA  bedrooms  age   PRICE
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
import math

bedroomEmptyField=math.floor(df.bedrooms.median())
bedroomEmptyField

3

In [9]:
df.bedrooms=df.bedrooms.fillna(bedroomEmptyField)
df

   AREA  bedrooms  age   PRICE
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [12]:
reg=linear_model.LinearRegression()
reg.fit(df[['AREA','bedrooms','age']],df[["PRICE"]])
print(reg.coef_)
print(reg.intercept_)

[[   137.25 -26025.    -6825.  ]]
[383725.]

In [14]:
print(reg.predict([[3000,3,40]]))
print(reg.predict([[2500,4,5]]))

[[444400.]]
[[588625.]]

/home/hari/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/home/hari/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
plt.scatter(df[['AREA','bedrooms','age']],df[['PRICE']])

AttributeError: 'DataFrame' object has no attribute 'PRICES'